<div class="card mb-3">
  <div class="card-header border-bottom-0">
    <h3 class="card-title font-weight-bold">
      <%= title %>
    </h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">
    <div id="dimmer_<%= id %>" class="dimmer">
      <div class="row mb-5">
        <div id="loader_<%= id %>"></div>
      </div>
      <div class="dimmer-content">
        <div id="<%= id %>"></div>
      </div>
    </div>
  </div>
</div>
