<div class="page">
  <div class="container">
    <div class="row">
      <div class="col col-login px-0 mx-auto">
        <div class="text-center mb-6">
          <%= image_tag 'logo.png', class: 'h-8', alt: 'logo' %>
          <h1 class="page-title font-weight-bold">Conviso App</h1>
        </div>
        <%= yield %>
      </div>
    </div>
  </div>
</div>
