<% if flash.any? %>
  <% flashes.each do |key, value| -%>
    <div class="alert alert-<%= alert_type key %> alert-dismissible p-4 mb-3" role="alert">
      <span class="float-right" role="button" data-dismiss="alert">
        <i class="fas fa-times"></i>
      </span>
      <i class="<%= "#{alert_icon key}" %>"></i> &nbsp;<%= value %>
    </div>
  <% end -%>
<% end %>
