<div class="col-sm-12 col-lg-12 p-0">
  <div class="form-row">
    <% if can? :create, model %>
      <div class="col-sm-12 col-lg-6 p-0">
        <%= link_to url, class: 'btn btn-primary align-middle mb-md-0 mb-sm-3' do %>
          <i class="fas fa-plus mr-2"></i>Novo
        <% end %>
      </div>
    <% end %>
    <% if @pagy.count > 1 %>
      <div class="col-sm-12 col-lg-<%= can?(:create, model) ? '6' : '12' %>">
        <div class="float-right">
          <%= pagy_bootstrap_combo_nav_js(@pagy).html_safe %>
        </div>
      </div>
    <% end %>
  </div>
</div>
